@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string Msg = string.Empty;
    if (ViewBag.LoginError != null)
    {
        if (ViewBag.LoginError == 1)
        {
            Msg = "Invalid username or password.";
        }
        else if (ViewBag.LoginError == 2)
        {
            Msg = "Account is disabled.";
        }
        else if (ViewBag.LoginError == 3)
        {
            Msg = "ERROR: Could not connect to BMT!";
        }
        <div class="alert alert-danger alert-sm" align="center">
            <span class="fw-semi-bold">@Msg</span>
        </div>
    }
    else if (ViewBag.LoginSuccess != null)
    {
        if (ViewBag.LoginSuccess == 1)
        {
            Msg = "Logged out successfully.";
        }
        <div class="alert alert-success alert-sm" align="center">
            <span class="fw-semi-bold">@Msg</span>
        </div>
    }
}